<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Page Not Found • Dashactyl">
        <title>Not Found | Dashactyl</title>
    </head>
    <body>
        <h1>403 | Unauthorized</h1>
        <p>You are not permitted to visit this page.</p>
        <button onclick="window.location.href = '/dashboard'">Go Back</button>
    </body>
</html>
