<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Home Page • Dashactyl">
        <title>Home | Dashactyl</title>
    </head>
    <body>
        <!--<%- include('./components/navbar') %>-->
        <a href="/login">Login</a> or <a href="/signup">Signup</a>?
    </body>
</html>
